*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/**
*
* Dropdown css
*
**/
.dropdown {
  color: #1AC5DC;
  position: relative;
  width: 150px;
  display: inline-block;
  font-family: Arial, sans-serif;
  cursor: pointer;
  outline: transparent;
}

.dropdown__selected-wrapper {
  z-index: 9999;
  padding-right: 20px;
  position: relative;
  background: #fff;
  border: 5px solid #E2E2E2;
  border-radius: 5px;
}

.dropdown:focus .dropdown__selected-wrapper {
  border-color:  #C3C1C1;
}

.dropdown__selected {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown__arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #1AC5DC;
  position: absolute;
  right: 5px;
  top: 10px;
}

.dropdown__list-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 9999;
  border-radius: 3px;
  margin-top: 15px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  transition: all 0.2s ease-out;
}

.dropdown__list-wrapper::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: -11px;
  border-width: 0 8px 0px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.dropdown__list {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.dropdown__item {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  border: 3px solid #E2E2E2;
  border-top-width: 0px;
  border-bottom-width: 1px;
}

.dropdown__item:last-child {
  border-bottom-width: 0px;
}

.dropdown__item:hover {
  color: #15BB6D;
}   

.dropdown__item.item-selected {
  color: #1C7E8E;
}

/*Scrolled*/
.dropdown__item.scrolled {
  background: #CCFFFC;
}


 /* Active */
.dropdown.is-active .dropdown__list {
  overflow: scroll;
  max-height: 200px;
}

.dropdown.is-active .dropdown__list-wrapper {
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
}

.dropdown.is-active .dropdown__list-wrapper::after {
  border-width: 0 8px 8px 8px;
  opacity: 1;
}

/*Disabled*/
.dropdown.is-disabled {
  background: #fff;
  border: 1px solid #eee;
  cursor: default;
  color: #666;
}
